$links: (
    alineacion: end,
    fle: block,
    fle2: flex,
    padd: 10px,
    margen: 30px,
    margenmenos: -20px
);
$decoracion: none;
$color0: #000;
$list: none;
$alineacion: center;
$tamaño: 280px;
$borde: 20px;
$decoracion2: line-through; 
$estiloBorder: ridge;
$posicion: relative;
$top: 60px;

h1, h2{
    text-align: $alineacion;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: dashed;
    text-decoration: overline;
}

.links {
    display: map-get($links, fle2);
    text-align: $alineacion;
    justify-content: $alineacion;
    margin: map-get($links, margen);
}

.menu {
   display: map-get($links, fle2);
   margin: auto;
   top: map-get($links, margenmenos);
}

a {
    text-decoration: $decoracion;
    color: $color0;
    margin: map-get($links, margen);
}

li {
    list-style: $list;
}

.contenedor {
    height: $tamaño;
    text-align: $alineacion;
    margin: 0;
    position: relative;
}

img {
    border-style: $estiloBorder;
    border-radius: $borde;
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-right: 530px;
}

.descuento {
    text-decoration: $decoracion2;
}

.imgVenta {
    width: 100px;
    border-style: none;
    justify-content: $alineacion;
    align-items: $alineacion ;
    text-align: $alineacion;
    display: flex;
    margin: 0 auto;
}

.vendido {
    top: 50%; 
    left: 50%;
}

.navbar {
    border-style: $estiloBorder;
    border-radius: $borde;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    position: relative;
    margin-left: 210px;
    bottom: 220px;
}

nav {
    box-shadow: 3px 3px 3px 10px black;
}

body {
    background-color: rgba(241, 241, 241, 0.5);
}

button {
    margin-left: 40px;
    margin-left: 200px;
    position: relative;
    bottom: 220px;
    margin-right: 1px;
    border-radius: 20px;
    padding: 10px;
}

.pie {
    font-size: small;
}

.img6 {
    position: $posicion;
    top: $top;
}

