h1 {
    border-style: outset;
    padding: 15px;
    box-shadow: 1px 2px 3px 13px gray;
    background-color: antiquewhite
}

.div {
    margin: auto;
    text-align: end;
    position: relative;
    top: -37px;
}

img {
    height: 299px;
    justify-content: center;
    display: flex;
    margin: auto;
}

h2 {
    text-align: center;
}

.movie {
    text-align: center;
    padding-left: 110px;
    padding-right: 150px;
    border-style: outset;
    margin-left: 60px;
    margin-right: 40px;
    border-radius: 30px;
    box-shadow: 2px 6px 6px 10px grey;
}
.img1 {
    height: 150px;
}

#movieSearch {
    border-radius: 20px;
}

button {
    border-width: 3px;
    border-style: unset;
    border-radius: 10px;
}
